.abc {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/217/327/large_2x/pink-blue-gradient-pattern-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}
.xyz{
   
    margin-left: 25%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
input[type='text'],
input[type='password'],
input[type='number'] ,
input[type='email']{

    outline: none;
    box-shadow: none;
}

