
<div class="container">
    <div class="row g-3">
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card " style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/253637980676602181174.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zig zig</h5>
            <p class="card-text">Zig zig pattered</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/253637980676602181174.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/551638055348765411087.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">single layered flase</h5>
            <p class="card-text">Single layered false celling</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/551638055348765411087.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/807638055330464772695.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Glass flase celling</h5>
            <p class="card-text">Glass flase celling</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/807638055330464772695.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638053699405825403.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">U shaped small</h5>
            <p class="card-text">U shaped small kitchen</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638053699405825403.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/962638053433769979334.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bhhemian</h5>
            <p class="card-text">Bohemian small kitchen flase celling</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/962638053433769979334.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/840638053408257771082.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minimalistic</h5>
            <p class="card-text">Minimalistic small kitchen flase celling</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/840638053408257771082.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
    </div>
  </div>