
<div class="container">
    <div class="row g-3">
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card " style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/275638132848652763049.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modern bathroom</h5>
            <p class="card-text">Modern blue floor tiles</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/275638132848652763049.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;"> 
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/370638115623016537622.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Contemporary bathroom</h5>
            <p class="card-text">Contemporary blue floor tiles</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/370638115623016537622.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/179638061020101816399.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Contemporary shower</h5>
            <p class="card-text">Contemporary glass corner shower</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/179638061020101816399.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/830638061019911491566.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Elegant</h5>
            <p class="card-text">Elegant simple</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/830638061019911491566.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638080168027422750.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">rafters</h5>
            <p class="card-text">Master bedroom with Rafters</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638080168027422750.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/355638080161152733552.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">couple industrial</h5>
            <p class="card-text">Couple Industrial Master bedroom</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/355638080161152733552.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
    </div>
  </div>