
<div class="container">
    <div class="row g-3">
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card " style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/148637933034690147269.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">modern cosy</h5>
            <p class="card-text">Modern cosy living room</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/148637933034690147269.jpg" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/694638185522239242383.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Warm victorian</h5>
            <p class="card-text">Warm victorian living room</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/694638185522239242383.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/263638185522010414424.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">compact type</h5>
            <p class="card-text">Compact type living room</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/263638185522010414424.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/429638185521827445523.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">hued with indoor plants</h5>
            <p class="card-text">hued living room with indoor plants</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/429638185521827445523.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3 ">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/186638185521779164293.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">radiating grey and turquoise</h5>
            <p class="card-text">Radiating grey and turquoise living room</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/186638185521779164293.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 g-3">
        <div class="card" style="width: 18rem;">
          <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/451638185521697953340.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minimalistic white wall units</h5>
            <p class="card-text">Minimalistic white wall units living room</p>
            <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/451638185521697953340.JPG" class="btn btn-primary">preview</a>
          </div>
        </div>
      </div>
    </div>
  </div>