
       <div class="container">
        <div class="row" g-3>
        <div class="col-lg-3 col-md-6 col-12 col-sm-12 g-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-title" style="color: black; ">Bed room</p>
              <p class="card-text">Make your room a place of relaxation</p>
              <button mat-raised-button type="submit" color="primary" (click)="bed()">Bed interior</button>
            </div>
           </div>
        </div>
          <div class="col-lg-3 col-md-6 col-12 col-sm-12 g-3">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-title" style="color: black; ">Kitchen</p>
                <p class="card-text">The kitchen is the heart of a home</p>
                <button mat-raised-button type="submit" color="primary" (click)="kitchen()">kitchen interior</button>
              </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 col-sm-12 g-3">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-title" style="color: black; ">Living room</p>
              <p class="card-text"> A space that inspires your creativity</p>
              <button mat-raised-button type="submit" color="primary" (click)="livingroom()">Livingroom interior</button>
            </div>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 col-sm-12 g-3">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-title" style="color: black; ">Bathroom</p>
                <p class="card-text">Transform Your Bathroom, Transform Your Life.</p>
                <button mat-raised-button type="submit" color="primary" (click)="bathroom()">Livingroom interior</button>
              </div>
            </div>
          </div>
        </div>
       </div>