.sidenav {
   
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidenav ul li {
    margin-bottom: 10px;
  }
  
  .sidenav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .main-content {
    margin-left: 240px; /* Adjust the margin to match the sidenav width */
    padding: 20px;
  }
  

