
<div class="container">
  <div class="row g-3">
    <div class="col-lg-3 col-md-6 col-12 g-3 ">
      <div class="card " style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/103638080208358743106.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Almirah</h5>
          <p class="card-text">Master bedroom with Almirah</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/103638080208358743106.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 g-3 ">
      <div class="card" style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/189638080204603113000.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wall Almirah</h5>
          <p class="card-text">Master bedroom with wall Almirah</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/189638080204603113000.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 g-3 ">
      <div class="card" style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/521638080200906211719.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">pop plus minus</h5>
          <p class="card-text">Master bedroom with pop plus minus</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/521638080200906211719.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 g-3 ">
      <div class="card" style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/214638080194760030071.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">drop lights</h5>
          <p class="card-text">Master bedroom with drop Lights</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/214638080194760030071.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 g-3 ">
      <div class="card" style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638080168027422750.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">rafters</h5>
          <p class="card-text">Master bedroom with Rafters</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/638638080168027422750.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 g-3">
      <div class="card" style="width: 18rem;">
        <img src="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/355638080161152733552.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">couple industrial</h5>
          <p class="card-text">Couple Industrial Master bedroom</p>
          <a href="https://img.interiorcompany.com/cdn-cgi/image/gravity=auto%2Cformat=webp%2Cfit=crop%2Cquality=85%2Cwidth=384/interior/webproduct/355638080161152733552.jpg" class="btn btn-primary">preview</a>
        </div>
      </div>
    </div>
  </div>
</div>