

<h1 style="text-align: center; color: brown;"><b>Homeloans</b></h1>

<mat-card>
    <mat-card-header>
        <!-- <h1>Home Registration Form</h1> -->
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loanenquire" (onsubmit)="postData()">
            
          <mat-form-field class="example-full-width" style="width: 55rem;">
              <mat-label>phoneNo</mat-label>
              <input matInput formControlName="phoneNo" name="phoneNo">
            </mat-form-field><br><br>

            <mat-form-field class="example-full-width" style="width: 55rem;">
            <mat-label>fullName</mat-label>
              <input matInput formControlName="fullName" name="fullName">
            </mat-form-field><br><br>
           
            <mat-form-field class="example-full-width" style="width: 55rem;">
          <mat-label>city</mat-label>
            <input matInput formControlName="city" name="city">
          </mat-form-field><br><br>

          <mat-form-field class="example-full-width" style="width: 55rem;">
          <mat-label>occupation</mat-label>
            <input matInput formControlName="occupation" name="occupation">
          </mat-form-field><br><br>

          <mat-form-field class="example-full-width" style="width: 55rem;">
            <mat-label>requiredAmount</mat-label>
              <input matInput formControlName="requiredAmount" name="requiredAmount">
            </mat-form-field><br><br>

            <mat-form-field class="example-full-width" style="width: 55rem;">
              <mat-label>salary</mat-label>
                <input matInput formControlName="salary" name="salary">
              </mat-form-field><br><br>

            <mat-form-field class="example-full-width" style="width: 55rem;">
                <mat-label>monthlyemi</mat-label>
                  <input matInput formControlName="monthlyemi" name="monthlyemi">
                </mat-form-field><br><br>

                <mat-form-field class="example-full-width" style="width: 55rem;">
                  <mat-label>tenure</mat-label>
                    <input matInput formControlName="tenure" name="tenure">
                  </mat-form-field><br><br>
        
        <div>
            
          <button mat-raised-button type="submit" color="primary" (click)="postData()" style="margin-right: 45rem;">Get loan</button>
          <!-- <a routerLink="/registeredData" mat-raised-button color="accent" style="margin-left: 48rem; ">Back to login</a> -->
        </div>
          </form>
    </mat-card-content>
  </mat-card>

  
